

/* ==========================================================================
   Author's custom styles
   ========================================================================== */



/***********************************************************************************
cart page custom styles
************************************************************************************/
.fixed_container{
position: fixed;
top: 0px;
width: 256px !important;
right: 13px;
}

.checkout_pages_margin{
	margin-bottom: 30%;
}

.margin-top{margin-top: 3.8%;}

.title_price_header{background: rgb(0, 153, 204);}

.margin_small{margin: 0px 3px;}

.product_img_cart{width: 143px;}

.cart_field{
	width: 100%;
}
.cart_img{
width: 36px;
padding: 16px 10px 6px;
margin-top: -10px;
}
.legend_cart{
background: rgb(183,222,237); /* Old browsers */
background: -moz-linear-gradient(top, rgba(183,222,237,1) 0%, rgba(113,206,239,1) 50%, rgba(33,180,226,1) 51%, rgba(183,222,237,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(183,222,237,1)), color-stop(50%,rgba(113,206,239,1)), color-stop(51%,rgba(33,180,226,1)), color-stop(100%,rgba(183,222,237,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(183,222,237,1) 0%,rgba(113,206,239,1) 50%,rgba(33,180,226,1) 51%,rgba(183,222,237,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(183,222,237,1) 0%,rgba(113,206,239,1) 50%,rgba(33,180,226,1) 51%,rgba(183,222,237,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(183,222,237,1) 0%,rgba(113,206,239,1) 50%,rgba(33,180,226,1) 51%,rgba(183,222,237,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(183,222,237,1) 0%,rgba(113,206,239,1) 50%,rgba(33,180,226,1) 51%,rgba(183,222,237,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#b7deed',GradientType=0 ); /* IE6-9 */border-radius: 10px 10px 0px 0px;
margin: 0;
border-radius:10px 10px 0px 0px; 
color: #FFF;
text-shadow:0px -1px 0px grey;
width: 83%;
font-size: 17px;
}

#accordion .legend_cart{
	width: 100% !important;
}

/*********************************************************************************************
checkout page 1 styles
**********************************************************************************************/
.inset_ul{
	border: 1px solid rgb(124, 149, 180);
border-radius: 4px;
padding: 5px;
margin: 2px 0px 10px auto;

}
.red{
	color: red;
}
.reviewbox .btn{
margin: 7px 0px 0px 0px 
}
.pointer{
	cursor: pointer;
}

.product_img_side_cart{
	width: 75px;
height: 74px;
}
.breadcrumb_img {
	width: 190px;
	height: 45px;
	background: url("../img/checkout_breadcrumb.png") no-repeat;
	background-size: 100%;
	margin-top: 7px;
	margin-left: -2px;
margin-right: -17px;
}
.error{
	color: red;
}
.input-cvv{
	width: 30px;
}
.breadcrumb_img a:inactive{
	color: grey;
}
.breadcrumb_img a {
	margin: 0px 43px;
position: relative;
top: 12px;
color: white;
font-size: 16px;
text-shadow: 0px -1px 0px grey;

}
.no_border
{
	border-radius:0px 0px 0px 0px !important;
}

.menu-shadow{
	box-shadow: 0px 0px 2px #91D5FF;
	border-radius: 10px 10px 3px 3px;
	background: rgb(255,255,255); /* Old browsers */
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}
.checkout_1_field{
	padding: 21px;
margin: 0px;
border: 0px none;
width: 125%;
}
.passwordMatch{
	position: relative;
	left: 0;
	top: 0;
	color: red;
	font-size: 18px;
	
}
.side_cart_icon{
padding: 5px;
}
.checkout_collapsible_img{
	width: 143px;

}
.padding-top{
	padding-top: 13px;
}

.table-border{
	border: 1px solid grey;
}

.checkout_list{
	list-style-image: url('../img/checkout_check.png');
}

.tour_accordion_header{
	background: red;
}
.reviews{
	font-weight: 700;
}

.checkout_collapsible{
background: white;
}
.checkout_collapsible p{
margin-top: 10px;
}